
    .button{
    
    width: 200px;
    background-color: #40AFC0 ;
    border-radius: 30px;
    
    box-sizing: border-box;
    padding: 10px;
    margin: 0px;
    margin-top: 30px;
    border: none;
    
    }

.buttton:hover{
        background-color: #6fc6d3 ;
        
}
