
.panel{
    position: relative;
    width: 100%;
    display: flex;
 
    align-items: center;
    justify-content: center;

   
    box-sizing: border-box;
    flex-wrap: wrap;
   
}
.card{
   width:25%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-left: 25px;
    min-width: 200px;
  
    position: relative;
   
 display: flex;
 flex-direction: column;


}
.container {
   
    padding:  20px;
    
  }
.img{
    display: block;
    height:250px;
   width: 100%;
   object-fit: cover;
  
}
.btn{
    
width:fit-content;
background-color: #084B47 ;

text-transform: none;
box-sizing: border-box;
padding: 7px;
margin: 0px;
margin-top: 15px;
border: none;

}



.subHeading{
   
    margin: 5px 0px;

}
