
.panel{
    position: relative;
    width: 100%;
    display: flex;
 
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 30px;
    box-sizing: border-box;
    flex-wrap: wrap;
   
}
.card{
   width:30%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-left: 25px;
    min-width: 200px;
  
    position: relative;
   
 display: flex;
 flex-direction: column;


}
.container {
   
    padding:  20px;
    
  }
.img{
    display: block;
    height:'300px';
   width: 100%;
  
}
.btn{
    
width:fit-content;
background-color: #40AFC0 ;
border-radius: 10px;

box-sizing: border-box;
padding: 10px;
margin: 0px;
margin-top: 10px;
border: none;

}



.subHeading{
   
    margin: 5px 0px;

}
