
.header{
    margin-top: 30px;
    margin-bottom: 50px;
    
    width: 100%;
    height: fit-content;
   
    position: relative;
  
   
}
.content{
   
   flex-direction: column;
   height: 100%;
   
     padding:50px ;
     margin-left: 50px;
    display: flex;
    align-items:left;
    justify-content:center;
   
}


.img{
height:30rem;
width: 30rem;
object-fit: cover;


}
.btn{
color:#fff ;
width:fit-content;
background-color: #084B47 ;

height: 40px;
box-sizing: border-box;
padding: 10px;
margin: 20px 0px;
cursor: pointer;
}
.p{
    width: 45rem;
}