:root {
  --spacing-xl: 20px; 
}
.inner {
  display: flex;
  justify-content: space-between;
padding-top: calc(4 * var(--spacing-xl));
  padding-bottom: calc(4 * var(--spacing-xl));
}
.header{
    height: 70vh;
          display: flex;
          justify-content: center;
          align-items: center;
}
.content {
  max-width: 500px;
  margin-right: calc(var(--spacing-xl) * 3);
}

.title {
 
  font-family: Greycliff CF, var(--fontFamily);
  font-size: 44px;
  line-height: 1.2;
  font-weight: 900;
}
@media (max-width: 576px) {
  .title {
    font-size: 28px;
  }
}



.image {
  flex: 1;
}

@media (max-width: 768px) {
  .image {
    display: none;
  }
}

.highlight {
  position: relative;
  background-color: var(--primaryColor);
  padding: 4px 12px;
  border-radius: var(--radius-sm);
}