
.panel{
    position: relative;
    width: 100%;
    display: flex;
 
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 30px;
    box-sizing: border-box;
    flex-wrap: wrap;
   
}
.card{
    width:30%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 40px;
    margin-left: 25px;
    min-width: 200px;
    height: 500px;
    
   position: relative;
 display: flex;
 flex-direction: column;


}
.container {
   
    padding:  10px;
    width: 50%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    bottom:-20px;
    left: 25%;
    z-Index:100;
    background-color: rgba(227, 222, 222, 0.995);
    
  }
.img{
  width:100%;
    display: block;
   height: 500px;

  object-fit: cover;
}





