
.panel{
    position: relative;
  
  
 margin-bottom: 20px;
   
   
}
.card{
   
    background-color: white;
  
   
    
   position: relative;



}

.img{
  width:100%;
    display: block;
   height: 300px;

  object-fit: cover;
}





