.icon{
    width: 25px;
    height: auto;
  
    
}



.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  
    left:15px;
    top:10px;
   
    border-radius: 10px;
    z-index:140;
    background-color: white;
   
    
}