@font-face {
  font-family: "PoppinsRegular";
  src: url("../../././/../../assets/PoppinsRegular.ttf");
}   
    .headerDiv {
        display: flex;
        background-color: #6F4790;
        height: 70px;
        
      }
  
      @keyframes App-logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
  
      .imgDiv{
        display: flex;
        justify-content: left;
  
   
      }
  
  
    @media (max-width:576px) and (min-width:480px) {
  
  
      .logo {
        animation: App-logo-spin infinite 1s;
        animation-iteration-count: 1;
        width: 70%;
        height: auto;
        margin-bottom: -2px;
       
      }
   
      .headerButtons {
        display: flex;
        align-items: center;
        justify-content: left;
        margin-left: 8%;

        
      }
      .buttons1 {
        border: 1px solid transparent;
        background-color: transparent;
        color: white;
        margin-left: 30%;
        background-color: transparent;
        font-family: PoppinsRegular;
        font-size: 130%;
      }
  
      .buttons {
        border: 1px solid transparent;
        background-color: transparent;
        color: white;
        margin-left: -5%;
        background-color: transparent;
      }

      .text{
        color: white;
        margin-bottom: -5px;

      }
  
    }
  
    @media (max-width:768px) and (min-width:577px) {
  
   
  
      .logo {
        animation: App-logo-spin infinite 1s;
        animation-iteration-count: 1;
        width: 50%;
        height: auto;
        margin-bottom: -2px;
   
       
      }
   
      .headerButtons {
        display: flex;
        align-items: center;
        justify-content: left;
        margin-left: 8%;
 
      }
      .buttons1 {
        border: 1px solid transparent;
        background-color: transparent;
        color: white;
        margin-left: 30%;
        background-color: transparent;
        font-family: PoppinsRegular;
        font-size: 130%;
      }
  
      .buttons {
        border: 1px solid transparent;
        background-color: transparent;
  
     
        margin-left: -5%;
        background-color: transparent;
      }
  
      }
      @media (max-width:992px) and (min-width:769px) {
  
  
        .logo {
          animation: App-logo-spin infinite 1s;
          animation-iteration-count: 1;
          width: 40%;
          height: auto;
          margin-bottom: -2px;
         
        }
     
        .headerButtons {
          display: flex;
          align-items: center;
          justify-content: left;
          margin-left: 8%;
      
          
        }
        .buttons1 {
          border: 1px solid transparent;
          background-color: transparent;
          color: white;
          margin-left: 30%;
          background-color: transparent;
          font-family: PoppinsRegular;
          font-size: 130%;
        }
    
        .buttons {
          border: 1px solid transparent;
          background-color: transparent;
    
    
          margin-left: 5%;
          background-color: transparent;
        }
  
        }
    
        @media (max-width:1200px) and (min-width:993px) {
  
    
      
          .logo {
            animation: App-logo-spin infinite 1s;
            animation-iteration-count: 1;
            width: 50%;
            height: auto;
            margin-bottom: -2px;
           
          }
       
          .headerButtons {
            display: flex;
            align-items: center;
            justify-content: left;
            margin-left: 8%;

            
          }
          .buttons1 {
            border: 1px solid transparent;
            background-color: transparent;
            color: white;
            margin-left: 30%;
            background-color: transparent;
            font-family: PoppinsRegular;
            font-size: 130%;
          }
      
          .buttons {
            border: 1px solid transparent;
            background-color: transparent;
      
      
            margin-left: 5%;
            background-color: transparent;
          }
          }
      
    @media (max-width:1600px) and (min-width:1201px) {
  
  
  
      .logo {
        margin-top: 3%;
        animation: App-logo-spin infinite 1s;
        animation-iteration-count: 1;
        width: 30%;
        height: auto;
        margin-bottom: -2px;
        margin-left: 15%
       
      }
   
      .headerButtons {
        display: flex;
        align-items: center;
        justify-content: left;
        margin-left: 8%;
        
      }
      .buttons1 {
        border: 1px solid transparent;
        background-color: transparent;
        color: white;
        margin-left: 30%;
        background-color: transparent;
        font-family: PoppinsRegular;
        font-size: 130%;
      }
  
      .buttons {
        border: 1px solid transparent;
        background-color: transparent;
  

        margin-left: 5%;
        background-color: transparent;
      }
      }
    