.flex{
    display: flex;
}
.button{
    margin-top: 18px;
    background-color: #6F4790;

}
.text{
    font-size: 18px;
    margin-top: 0.5px;
    margin-bottom: -1px;
}

.searchbar{
    background-color: #E6E6E6;
    width: 900px;
    height: 60px;
    margin-left: 20%;
    margin-top: 1.5%;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    margin-right: 300px;
}

.cartbutton{
    margin-top: 18px;
    margin-left: 5px;
    background-color: #6F4790;
    width: 95px;

}


