.container{
    padding: 2rem 18rem;
    background-color: #F3F2F1;

}
.innerContainer{
    background-color: #fff;
    border-radius: 20px;
    padding: 1rem;

}

.titleContainer{
     background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding:2rem;
   border-radius: 20px;
   margin-bottom: 1rem;
}

.headerImage{
   
    height: 250px;
    object-fit: contain;
    border-radius: 20px;

  
}
.title{
    color: rgb(45, 45, 45);
    font-weight: 500;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", Roboto, Noto, sans-serif;
    font-size: 1.25rem;
    line-height: 1.25;
    margin: 0px;
    max-width: 250px;
     overflow-wrap: break-word; 
     word-break: break-word;
}

.contentContainer{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  margin-bottom: 1rem;
    padding: 2rem;
    border-radius: 20px;
}
.flex{
    display: flex;
 
    justify-content: center;
    align-items: center;
}