
.header{
    position: relative;
    background-size: 100% 100%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    box-sizing: border-box;
    margin-bottom: 50px;
   height: 100vh;
}
.img{
    width: 100vw;
    height: 100%;
   object-fit: cover;
}
.p{
width:40vw;
}


.icons>img{
width: 30px;
margin: 0px 5px;
height: auto;
}
.btn{
align-self: center;

background-color: #232323 ;
border-radius: 10px;

box-sizing: border-box;
padding: 10px;
margin: 20px auto;
border: none;
width: fit-content;


}

