.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgba(255, 255, 255, 0.5);;
  height: 64px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
 
  transition: all 0.3s ease;
  overflow: hidden;
 z-index: 1100;
 position: sticky;
 top:0



}

.navbar.close {
  height: 0;
}
    


.ucraft {
 text-decoration: none;

letter-spacing: 1.8px;
  margin-left: 30px;
  font-size: 2rem;
  font-weight: bold;
  color: #40AFC0;
  animation: moveLeftToRight 5s forwards;
}

@keyframes moveLeftToRight {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}




.navbarList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbarItem {
  margin: 0 10px;
}

.navbarLink {
  color: #95a7a9;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.navbarLink:hover {
  color: #40AFC0;
  border-bottom: 3px solid #40AFC0;
}

.navbarButtons {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.loginButton {
    border: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #5cc3d3;
  margin-left: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.loginButton:hover {
  background-color: #5cc3d3;
}




.signupButton {
    border: none;
display: inline-block;
padding: 10px 20px;
border-radius: 4px;
font-size: 14px;
font-weight: 500;
color: #5cc3d3;
background-color: #fff;
margin-left: 10px;margin-right: 50px;
/* border: 2px solid #5cc3d3; */
text-decoration: none;
text-transform: uppercase;
transition: all 0.3s ease;
}

.signupButton:hover {
background-color: #5cc3d3;
color: #fff;
}

/* Navbar toggle button */

.navbarToggle {
display: block;
width: 40px;
height: 40px;
position: absolute;
top: 12px;
right: 20px;
background-color: transparent;
border: none;
cursor: pointer;
}




