.circle{
    background-color: #C4151C;
    border-radius: 50%;
    height: 70px;
    width:70px;
    display: flex;
   cursor: pointer;
    justify-content: center;
    align-items: center;
    z-index: 1100;
    
    position: fixed;
    right: 50px;;
    bottom: 50px;
}
.circle:hover{
    
    transform: scale(1.05) ;
}
