.navbar {
  background-color: #333;
  padding: 10px;
}

.navbarList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbarItem {
  margin-right: 10px;
}

.navbarLink {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbarLink:hover {
  background-color: #555;
}
