.draggable:hover {
    transform: scale(1.05) ;
    box-shadow: 2px 2px 5px grey;
    border: 2px dashed #40AFC0;
  }
.draggable{
  width: 80%;
  height: auto;
  border-radius: 10px;
 
  margin: 10px;
  margin-left: 20px;
  cursor: grab;
        
    
  
}
@media (max-width:1020px) {
  .draggable{
    width:100%
  }
  
}