.draggable:hover {
    transform: scale(1.2) ;
    box-shadow: 2px 2px 5px grey;
    border: 2px dashed #40AFC0;
  }
.draggable{
  width: 300px;
  height: auto;
  border-radius: 10px;
 
  margin-right: 10px;
  margin-top: 7px;
  margin-bottom: 20px;

  cursor: grab;
        
    
  
}
